<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
    <!--
        var url_prefix = '[% url_prefix %]';
    -->
    </script>
    <title>[% title_prefix %][% title %]</title>
    <link rel="shortcut icon" href="[% url_prefix %]themes/[% theme %]/images/favicon.ico" type="image/ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    [% IF thruk_debug %]
      <script type="text/javascript" charset="UTF-8" src="[% url_prefix %]plugins/api_conf/ext-[% extjs_version %]/build/ext-all-debug.js"></script>
    [% ELSE %]
      <!--[IF IE]>
        <script type="text/javascript" charset="UTF-8" src="[% url_prefix %]plugins/api_conf/ext-[% extjs_version %]/build/ext-all-debug.js"></script>
      <![ENDIF]-->
      <!--[IF !IE]> -->
        <script type="text/javascript" charset="UTF-8" src="[% url_prefix %]plugins/api_conf/ext-[% extjs_version %]/build/ext-all.js"></script>
      <!-- <![ENDIF]-->
    [% END %]
</head>
<body>
[% body %]
</body>
</html>
